<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlablaBook</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="header">
    <h1>BLABLABOOK</h1>
    <!--barre de recherche au centre du header -->
    <!--<form action="/search" method="GET">  -->

    <div class="nav-search">
      <form action="#" method="GET">
        <input type="text" name="query" placeholder="Rechercher un livre" aria-label="Champ de recherche">
        <button type="submit" aria-label="lancer la recherche">🔍</button>
      </form>
    </div>
    <!-- section bouton -->
    <div class="nav-buttons">
      <a href="/" class="nav-link" aria-label="Retour à la page d'accueil">Accueil</a>
      <a href="/" class="nav-link" aria-label="Explorer la bibliothèque numérique">Bibliothèque</a>
      <a href="/" class="nav-link" aria-label="Connectez-vous pour accéder à votre espace personnel">Connexion</a>
      <a href="/" class="nav-link" aria-label="Consultez votre profil utilisateur">Utilisateur</a>
    </div>

  </header>

  <section class="welcome-section">
    <h2>Bienvenue sur BlablaBook</h2>
    <div class="welcome-content">
      <p>
        Votre plateforme de partage de livres et d'échanges littéraires.
        Découvrez une communauté passionnée par la lecture, partagez vos <strong>livres</strong> préférés,
        et explorez des recommandations personnalisées pour enrichir votre bibliothèque. Lire, Partager, Connecter!
      </p>
      <p class="highlight">Lire, Partager, Connecter</p>
    </div>
  </section>
  <!-- section livres -->
  <section class="books-section">
    <h2>Découvrez nos livres</h2>
    <div class="books-container">
      <% books.forEach(book=> { %>
        <div class="book-card">
          <img src="/images/<%= book.img %>" alt="<%= book.title %>">
          <h3>
            <%= book.title %>
          </h3>
          <p>
            <%= book.genre %> • <%= book.year %>
          </p>
        </div>
        <% }); %>
    </div>
     <!-- Add the image below the books section -->
  <div class="books-image">
    <img src="/images/bookshelf.jpg" alt="Bookshelf" />
  </div>
</section>
  
  </main>

  <footer class="footer">
    <p>&copy; 2025 Prototype réalisé par Heba Gloria Farida</p>
  </footer>
</body>

</html>