<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlablaBook - Accueil</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="header">
    <h1>BLABLABOOK</h1>
    <!--barrede recherche au centre du header -->
    <div class="search-bar">
        <form action="/search" method="GET">
          <input type="text" name="query" placeholder="Rechercher..." aria-label="Champ de recherche">
          <button aria-labe="lancer la recherche">&#128269;</button>
        </form>
      </div>
    <!-- section bouton -->
    <section class="button-bar">
        <button aria-label="Retour à la page d'accueil">Accueil</button>
        <button aria-label="Explorer la bibliothèque numérique">Bibliothèque</button>
        <button aria-label="Connectez-vous pour accéder à votre espace personnel">Connexion</button>
        <button aria-label="Consultez votre profil utilisateur">Utilisateur</button>
      </section>
      <!-- section livres -->
    <section class="books-section">
      <h2>Découvrez nos livres</h2>
      <div class="books-container">
        <% books.forEach(book => { %>
          <div class="book-card">
            <img src="/images/<%= book.img %>" alt="<%= book.title %>">
            <h3><%= book.title %></h3>
            <p><%= book.genre %> • <%= book.year %></p>
          </div>
        <% }); %>
      </div>
    </section>
  </main>

  <footer class="footer">
    <p>&copy; 2025 Prototype réalisé par Heba Gloria Farida</p>
  </footer>
</body>
</html>