<%- include('partials/header') %>

<main>
  <div class="book-details">
    <div class="book-container">
      <img
        src="/images/<%= book.cover %>"
        alt="Couverture de <%= book.title %>"
      />
      <div class="book-info">
        <h2><%= book.title %></h2>
        <p>
          <strong>Auteur :</strong>
          <% if (book.authors && book.authors.length > 0) { %> <%=
          book.authors[0].firstname %> <%= book.authors[0].name %> <% } else {
          %> Auteur inconnu <% } %>
        </p>

        <p>
          <strong>Genre :</strong>
          <% if (book.gender) { %> <%= book.gender.name %> <% } else { %> Genre
          inconnu <% } %>
        </p>

        <p>
          <strong>Description</strong>
          <% if (book.description) { %> <%= book.description %> <% } else { %>
          Genre inconnu <% } %>
        </p>

        <p>
          <strong>Année de publication :</strong>
          <% if (book.year) { %> <%= book.year %> <% } else { %> Pas de
          description disponible <% } %>
        </p>
      </div>
    </div>
  </div>
  <div class="action-buttons">
    <!-- Form to mark the book as read -->
    <form action="/livres/<%= book.id %>/mark-read" method="POST">
      <button type="submit" aria-label="Marquer comme lu">Lu</button>
    </form>
    <!-- Form to add the book to "To Read" -->
    <form action="/livres/<%= book.id %>/add-to-read" method="POST">
      <button type="submit" aria-label="Ajouter aux livres à lire">
        À Lire
      </button>
    </form>

    <a href="/" class="back-button" aria-label="Retour à la bibliothèque"
      >Retour</a
    >
  </div>
</main>

<%- include('partials/footer') %>
