<%- include('partials/header') %>

<section class="welcome-section">
  <h2>Bienvenue sur BlablaBook</h2>
  <div class="welcome-content">
    <p>
      Votre plateforme de partage de livres et d'échanges littéraires. Découvrez
      une communauté passionnée par la lecture, partagez vos
      <strong>livres</strong> préférés, et explorez des recommandations
      personnalisées pour enrichir votre bibliothèque. Lire, Partager,
      Connecter!
    </p>
    <p class="highlight">Lire, Partager, Connecter</p>
  </div>
</section>
<!-- section livres -->
<section class="books-section">
  <h2>Découvrez nos livres</h2>
  <div class="books-container">
    <% books.forEach(book=> { %>
    <div class="book-card">
      <a href="/book/<%= book.id %>">
        <img src="/images/<%= book.cover %>" alt="<%= book.title %>" />
      </a>
      <h3><%= book.title %></h3>
      <p>
        <%= book.authors[0].name %> <%= book.authors[0].firstname %> • <%=
        book.gender.name %> • <%= book.year %>
      </p>
    </div>
    <% }); %>
  </div>
  <!-- Add the image below the books section -->
  <div class="books-image">
    <img src="/images/bookshelf.jpg" alt="Bookshelf" />
  </div>
</section>

<%- include('partials/footer') %>
