<%- include('partials/header') %>

  <section class="welcome-section">
    <h1>Bienvenue sur BlablaBook</h1>
      <p class="welcome-section__lead">
        Votre plateforme de découverte littéraire<br>
        Que vous soyez un lecteur novice, amateur ou passionné, notre objectif est de créer une communauté de passionné de lecteure.<br>
        Lire, Partager, Connecter, chaque lecteur trouvera sa page !
      </p>
  </section>

  <section class="home-books-section">
    <h2>Découvrez notre sélection</h2>
    <div class="books-container">
      <% books.forEach(book=> { %>
        <div class="book-card">
          <a href="/livre/<%= book.id %>">
            <img src="/images/<%= book.cover %>" alt="<%= book.title %>" />
          </a>
          <h3>
            <%= book.title %>
          </h3>
          <p>
            <strong>
              <%= book.authors[0].name %>
              <%= book.authors[0].firstname %>
            </strong>
          </p>
        </div>
        <% }); %>
    </div>
  </section>

<%- include('partials/footer') %>