<%- include('partials/header') %>
  <main>
    <h1>Bibliothèque</h1>
    <h2>Liste des Livres Disponibles</h2>
  <div class="library">
    <% books.forEach(book => { %>
      <div class="book">
        <img src="/images/<%= book.cover %>" alt="<%= book.title %>" />
        <h3><%= book.title %></h3>
        <p>author(s) : <%= book.authors.map(author => author.name).join(", ") %></p>
        <p>gender : <%= book.gender.name %></p>
       </div>
       <% }) %>
    </div>
  </main>

<%- include('partials/footer') %>
