<%- include('partials/header') %>

<div class="books-container">
  <% if (books.length === 0 || !books ) { %>
    <p>Aucun livre trouvé pour votre recherche. Veuillez écrire</p>
  <% } else { %>
    <% books.forEach(book => { %>
      <div class="book-card">
        <a href="/livre/<%= book.id %>">
          <img src="/images/<%= book.cover %>" alt="<%= book.title %>" />
        </a>
        <h3><%= book.title %></h3>
      </div>
    <% }); %>
  <% } %>
</div>

<%- include('partials/footer') %>